#loading {
    font-family: monospace;
    width: 0%;
    animation-delay: 10s;
    white-space: nowrap;
    overflow: hidden; 
    color: rgb(90, 209, 79);
    animation: typing_and_end 4s steps(20,  end);
}
#title {
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    white-space: pre;
    position: relative;
    color:"black";
    font-size: 140%;
    line-height: 8px;
    overflow: hidden;
    animation: typing 6s steps(50, end) 4s;
    animation-fill-mode: forwards;

}

div.main-content {
    margin: 5%;
    background-color:black;
    position: absolute;
    margin-top: 1cm;
    opacity: 0;
    height: 570px;
    width: 620px;
    animation: typing 8s steps(20, end) 4s;
    overflow: hidden; 
    animation-fill-mode: forwards;
}
#return_button {
    text-align: left;
    overflow: hidden; 
    animation: neuron_animation 8s steps(20, end) 4s;
    opacity: 0;
    animation-fill-mode: forwards;
}
#typed {
    line-height: 20px;
    text-align: left;
    margin-left: 7.5%;
    margin-right: 10%;
    line-height: 20px;
}
#line {
   
    width: 0%; 
    animation: typing 8s steps(20, end) 4s;
    animation-fill-mode: forwards;
}
#return_button:hover  {animation: neuron_hover_animation 1.5s steps(20, end); animation-iteration-count: infinite; }

@keyframes typing {
    from { width: 0; text-align: "center";}
    to { width: 100%; color: rgb(90, 209, 79)}
  }
  @keyframes typing_and_end {
        0% { width: 0%; }
        99% { width: 100%; }
        100% { width: 0% }
  }
@keyframes neuron_animation {
    from {opacity: 0;}
    to {opacity: 1;}
    }
@keyframes neuron_hover_animation {
    0%   {opacity: 1}
    50%  {opacity: 0.5;}
    100%  {opacity: 1;}
}

